<div class="col-xs-12 col-sm-4 placeholder item">
    <div class="panel panel-info">
        <div class="panel-heading">
            <p class="panel-title">{{Image Name}}</p>
        </div>
        <div class="panel-body">
            <img src="../../img/house.jpg" class="img-responsive" alt="Property thumbnail">
            <span class="text-muted">Something else</span>
        </div>
        <div class="panel-footer">
            <span class="glyphicon glyphicon-map-marker"></span>
            <span>{{Location}}</span>
        </div>
    </div>
</div>