<div class="container">
    <div class="row">
        <div class="contact-form col-sm-10 col-sm-offset-1 text-center">
            <h1 class="text-center h1">Our Gist</h1>
            <div class="col-xs-12 col-md-6 block-padding-20">
                <h2>The Ariya Service</h2>
                <p>Ariya was a tool built for your convenience in getting or selling event venues.
                    We have utilised and continue to research the power of the web and a sharp thinking to bring you the best experience possible just to make your life easy</p>
            </div>
            <div class="col-xs-12 col-md-6 block-padding-20">
                <h2>Contact Us</h2>
                <p><span><i class="fa fa-2 fa-phone"></i></span>+234 809 873 5377</p>
                <p><span><i class="fa fa-2 fa-home"></i></span>4, Oyeyemi Street, Owotutu B/Stop, Pedro, Lagos</p>
                <p><span><i class="fa fa-2 fa-envelope"></i></span>info@ariya.ng</p>
            </div>
            <p class="text-center">Send us anything anytime and we will respond in No time
                Our team is working round the clock just for you.</p>
            <div class="center">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                    <form action="" class="form" role="form">
                        <input type="text" class="form-control contact-form-input" placeholder="Name">
                        <input type="text" class="form-control contact-form-input" placeholder="Email">
                        <textarea name="contact-message" id="" cols="30" rows="20" class="form-control contact-form-input" placeholder="message"></textarea>
                        <button class="form-control contact-form-input">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>