<div class="container">
    <div class="contact-form col-sm-10 col-sm-offset-1">
        <h1 class="text-center">Wetin You Wan Know</h1>
        <div class="row">
            <ol class="ordered-list">
                <li>
                    <b>Can I cancel a booking that has already been confirmed?</b><br>
                    It depends. You can request changes to your booking—such as the dates, but your changes will
                    need to be accepted by the venue owner.<br>
                    <b>To request changes to your booking as a user:</b>
                    <ul>
                        <li>
                            Login in to ariya.ng
                        </li>
                        <li>
                            Select Your bookings
                        </li>
                        <li>Next to the booking you want to change, click Change or Cancel</li>
                        <li>You can change the date of booking subject to approval of the venue owner</li>
                        <li>We understand that unexpected situations can sometimes prevent you from hosting an event you’ve already planned. If you’re unable to change the dates and need to cancel, it’s important
                            to do so as soon as possible.
                        </li>
                        <li>Follow up with the Venue owner with the details of your booking for cancellation and refund
                            policy</li>
                    </ul>
                    <b>To modify a booking as a Venue owner:</b>
                    <ul>
                        <li>
                            Login in to ariya.ng
                        </li>
                        <li>
                            Manage Renters
                        </li>
                        <li>Next to the booking you want to change, click Accept Change, Reject Change or Cancel Booking</li>
                        <li>A refund will be required to be made to the Renter if a booking is cancelled</li>
                        <li>Contact the Renter with cancellation details</li>
                    </ul>
                </li>
                <li>
                    <b>How much do I pay for a booking?</b><br>
                    <b><i>Listing price</i></b>
                    <p>Unlike hotels, there's no standard rate for booking a Hall or Event Centre on Àríyá. Each Owner

                        determines the amount they'd like to charge for their venues. You may see different prices for a

                        listing depending when you carry out your search. That's because Owners can vary prices during

                        high season or during certain local holidays.
                    </p>
                    <b><i>Fees</i></b>
                    <ul>
                        <li>All charges are included in the amount listed as price on Àríyá i.e. Caution fee, Rentals e.t.c</li>
                        <li>Àríyá charges the Owner a service fee for each booking to help cover the costs of running our business, including our ability to offer constant customer support.</li>
                        <li>The total amount you pay to the Owner is inclusive of VAT charges.</li>
                    </ul>
                </li>
                <li>
                    <b>How does the Àríyá payment system work?</b><br>
                    Àríyá’s payment system is designed to make transferring money between Renters and Owners as
                    simple and reliable as possible. Here’s how it works:<br>
                    <b><i>Renters</i></b>
                    <ul>
                        <li>Renters pay Àríyá when they book a place</li>
                        <li>Àríyá releases the money to Venue owners 48 hours after the Renter makes payment</li>
                        <li>Using Àríyá’s payment system is required to make a booking, and it helps ensure that both
                        parties are protected under our Terms of Service, cancellation policies, Renter Refund Policy
                        and other safeguards.</li>
                        <li>Paying outside the Àríyá system is not secure, and we cannot provide access to these benefits
                        when Venues aren’t booked directly through Àríyá.</li>
                        <li>We charge a service fee as soon as your booking is confirmed or accepted by the Venue Owner.</li>
                        <li>If you cancel a booking as a Renter, there is a non-refundable fee of N2000 to cover our
                        expenses. If your booking is canceled by the Venue Owner and you choose to be refunded, the
                        total amount fee is refunded.</li>
                    </ul>
                    <b><i>Venue Owners</i></b>
                    <p>
                        We deduct a 5% service fee to a maximum of N20,000 from Owner payouts every time a venue
                        is booked at their listing. This covers the cost of processing Renter payments and other related
                        expenses.<br>
                        To help cover the costs of running these services, Àríyá includes service fees in each transaction,
                        alongside some government-required taxes like Value Added Tax (VAT)
                    </p>
                    <ul>
                        <li>
                            <i>Preparing your space</i><br>
                            Give your Renters a clean space to use for their events and ensure they have everything they'll need as advertised
                        </li>
                        <li>
                            <i>Writing reviews</i><br>
                            Genuine reviews are very important to us and your business. Encourage your Renters to write a review and share comments about their experience on Àríyá!
                        </li>
                    </ul>
                </li>
                <li>
                    <b>What is a cancellation policy?</b><br>
                    <p>Refer to <a ui-sref="terms">Terms and Conditions</a></p>
                </li>
                <li>
                    <b>What is Renter Refund Policy?</b><br>
                    It supports Renters in the event they experience a service issue. A service issue generally falls
                    into one of 3 categories:
                    <ul>
                        <li>
                            the Owner cancels the booking shortly before Event or the Owner fails to provide access to the
                            listing booked
                        </li>
                        <li>
                            the listing booked is misrepresented or lacks in promised amenities or items, or
                        </li>
                        <li>
                            the listing is not generally clean or as described. To make a claim, kindly contact us
                            info@ariya.ng
                        </li>
                    </ul>
                    <p>The following are scenarios addressed by the Renter Refund Policy. The Renter visited the Venue
                        within 1 week of booking and notified Àríyá <span class="text-info">in a period not less than that stated in the cancellation
                        policy</span> that:</p>
                    <ul>
                        <li>
                            The listing is missing a facility promised on the site in the listing’s description, amenities, or
                            photos.
                        </li>
                        <li>
                            The capacity in the listing does not match what was booked.
                        </li>
                        <li>
                            The location of the venue is not what was booked
                        </li>
                        <li>
                            The listing is unsanitary, unsafe, or hazardous to the health of your purpose.
                        </li>
                    </ul>
                    <p>
                        The Renter Refund Policy is available to all Àríyá Renters who have booked on the site. The Renter
                        Refund Policy is not insurance.
                    </p>
                    <p>
                        Venues on the Àríyá platform should meet minimum quality standards regarding safety, access, and

                        cleanliness, and they should be consistent with the description provided by the venue owner. If a

                        Renter who books and pays for a venue suffers a 'Service Issue' because the venue does not meet

                        Àríyá standards, the Renter may be eligible for a refund in accordance with the Renter Refund

                        Policy.
                    </p>
                    <p>
                        Àríyá will (at our discretion) either provide the Renter with a refund or use reasonable efforts to find
                        and book the Renter at another comparable venue.<br>
                        To submit a valid claim for a refund, a Renter is required to:
                    </p>
                    <ul>
                        <li>
                            Bring the Issue to our attention within 1 week of booking the venue (including photographs or
                            other evidence) and respond to our requests for information or cooperation,
                        </li>
                        <li>
                            Have used reasonable efforts to try to remedy the circumstances of the Service Issue with the
                            venue owner prior to making a claim for a Service Issue.
                        </li>
                    </ul>
                    <p>
                        If you still have questions regarding the refund policy, please contact us.
                    </p>
                </li>
            </ol>
        </div>
        <div class="row text-center">
            <p>Àríyá also provides services to host / announce / publicize your events online and send invitations to your guests</p>
            <p>Still have questions? Email us at info@ariya.ng</p>
        </div>
    </div>
</div>
<!--<div class="navbar navbar-default navbar-custom-bottom navbar-static-bottom text-center block-padding-20"><a ui-sref="home" href="">Ariya &copy; 2015</a></div>-->