<div class="container">
    <div class="contact-form col-sm-10 col-sm-offset-1">
        <h1 class="text-center">How E Dey Work</h1>
        <p class="list-align">Àríyá.ng offers you the best of Venues and Events planning and all things “Eventing”! Try us Now</p>
        <img src="img/docs/all3.jpg" class="img-responsive center-img">
        <div class="row">
            <h2 class="text-center">How to Book a Venue</h2>
            <ol class="ordered-list">
                <li>
                    <p>Search on Àríyá for event venues by location, name, available dates, price and much more</p>
                    <img src="img/docs/search.jpg" class="img-responsive center-img">
                </li>
                <li>
                    <p>Find the venues you love and book online immediately or enter a Bid race to save some money. Please note that to Book or Bid, you must register as a user</p>
                    <img src="img/docs/step2.jpg" class="img-responsive">
                </li>
                <li>
                    <p>As soon as your booking is confirmed or you win a bid you’ll get a notification. You can now invite your guests and have some Àríyá (/fun/).</p>
                    <img src="img/docs/organise.jpg" class="img-responsive">
                </li>
            </ol>
        </div>
        <div class="row text-center">
            <p>Àríyá also provides services to host / announce / publicize your events online and send invitations to your guests</p>
            <p>Still have questions? Email us at info@Àríyá.ng</p>
        </div>
    </div>
</div>
<!--<div class="navbar navbar-default navbar-custom-bottom navbar-static-bottom text-center block-padding-20"><a ui-sref="home" href="">Ariya &copy; 2015</a></div>-->