<div class="container">
    <div class="contact-form col-sm-10 col-sm-offset-1">
        <h1 class="text-center">How E Dey Work</h1>
        <p>Àríyá.ng offers you the best of Venues and Events planning and all things “Eventing”! Try us Now</p>
        <div id="publish" class="row">
            <h2 class="text-center">How to Publish Your Venues</h2>
            <ol class="ordered-list">
                <li>
                    <b>List Your Venue: </b><br>
                    We persuade you to share all kinds of Venues on Àríyá! Whether you’re offering a small office space for trainings or an exclusive hall for grand occasions, <a ui-sref="login"><b>it’s free to list your space</b></a>. When you’re ready to start welcoming Renters, you can lease your venue to the whole world.
                    <ul>
                        <li>
                            <b>Description and facilities</b><br>
                            Renters often search for spaces that meet specific needs, so accurately describing your venues and the facilities you offer will help attract the kinds of Renters that are best for you. When telling the story of your space, input critical information like Capacity, whether or not you have backup power, security, water, easy accessibility, internet, air conditioning.
                        </li>
                        <li>
                            <b>Photos</b><br>
                            Pictures help Renters immerse themselves in your space without being physically present. Upload up to 15 images, and make sure your photos are well lit, in focus, and representative of the actual space your Renters will have access to.
                            Don’t we all love pictures, express yourselves creatively!!
                        </li>
                        <li>
                            <b>Pricing and availability</b><br>
                            You know your space and your schedule best, so we let you decide the Booking Price, Bidding Price and we ask you to update your calendar to reflect when it’s available to rent.
                            We display your listing at the price you set and when you indicate that your space is unavailable, we make sure not to show it in search results.
                        </li>
                    </ul>
                </li>
                <li>
                    <b>Respond to Enquiries / Bookings: </b><br>
                    Renters who love your space will want to book it! On Àríyá, you have the option to require Renters to send a reservation request, enter a bid race to get price discounts or allow Renters to book your space instantly through Instant Booking.
                    <ul>
                        <li>
                            <b>Manage your calendar</b><br>
                            Edit your calendar settings to control when Renters can book your venues
                        </li>
                        <li>
                            <b>Follow Bids</b><br>
                            Renters can bid for your venues at prices you set. Notifications are sent to you for every bid and after 48hrs, we automatically notify the highest bidder to pay or you can select any bid as a winner and system notifies the bidder to pay.
                        </li>
                        <li>
                            <b>Instant Booking</b><br>
                            Renters can choose your venue, date of their event and book immediately at your asking price. Our service immediately makes that date unavailable for other interested Renters who might be interested and send you a notification of a booking
                        </li>
                    </ul>
                </li>
                <li>
                    <b>Meet Your Renters: </b><br>
                    Once you have a confirmed booking, it’s time to prepare your venue for your Renters! From tidying your venue and rendering extra services to them, hosting on Àríyá is all about fun.
                    <ul>
                        <li>
                            <b>Preparing your space</b><br>
                            Give your Renters a clean space to use for their events and ensure they have everything they'll need as advertised
                        </li>
                        <li>
                            <b>Writing reviews</b><br>
                            Genuine reviews are very important to us and your business. Encourage your Renters to write a review and share comments about their experience on Àríyá!
                        </li>
                    </ul>
                </li>
            </ol>
        </div>
        <div class="row text-center">
            <p>Àríyá also provides services to host / announce / publicize your events online and send invitations to your guests</p>
            <p>Still have questions? Email us at info@Àríyá.ng</p>
        </div>
    </div>
</div>
<!--<div class="navbar navbar-default navbar-custom-bottom navbar-static-bottom text-center block-padding-20"><a ui-sref="home" href="">Ariya &copy; 2015</a></div>-->