<div class="container">
    <div>
        <video autoplay muted loop poster="img/map_test.jpg" id="big-video-wrap">
            <source src="img/lavess.mp4" type="video/mp4">
        </video>
    </div>
    <div class="row">
        <div class="contact-form col-sm-10 col-sm-offset-1">
            <h1 class="text-center">Contact</h1>
            <p class="text-center">Send us anything anytime and we will respond in No time
                Our team is working round the clock just for you.</p>
            <div class="center">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                    <form action="" class="form" role="form">
                        <input type="text" class="form-control contact-form-input" placeholder="Name">
                        <input type="text" class="form-control contact-form-input" placeholder="Email">
                        <textarea name="contact-message" id="" cols="30" rows="20" class="form-control contact-form-input" placeholder="message"></textarea>
                        <button class="form-control contact-form-input">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-default navbar-custom-bottom navbar-static-bottom text-center block-padding-20"><a ui-sref="home" href="">Ariya &copy; 2015</a></div>