<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="panel panel-primary form-signin">
            <div class="panel-heading">
                <h1 class="panel-title">Reset your Password</h1>
            </div>
            <form>
                <div class="panel-body">
                    <label>Enter your new password</label>
                    <input type="password" name="password" class="form-control" placeholder="Password" required="" autofocus="">
                    <br>
                    <label>Re-enter your new password</label>
                    <input type="password" name="confirm" class="form-control" placeholder="Password" required="">
                </div>
                <div class="panel-footer">
                    <div class="checkbox">
                        <button class="btn btn-primary pull-right" type="submit">Change</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>