<div class="container">
    <div class="contact-form col-sm-10 col-sm-offset-1">
        <h1 class="text-center">Terms and Conditions</h1>
        <p>These terms and conditions apply to all types of services Àríyá ("Àríyá", "we", "us", "our" or "ours") offer, both direct or indirect. The terms "you", "your", "yourself", "yours" and "customer" refer to the individual person or corporation who subscribes to our newsletters and offers, creates an account with us or makes a booking (whether complete/incomplete, successful/unsuccessful) through this website. The terms "Final Party" and "Accommodation Provider" refer to the Event Center (not limited to organisations that go by 'Event Center' only, but also applies to 'halls', 'conference rooms', 'open fields' and 'suites') that is advertised on Àríyá regardless of whether a signed deal between us and them exists or does not.</p>
        <p>Terms and conditions may be revised and modified occasionally, hence, it is advisable not to familiarise yourself with them at any point in time, but review them each and every time you use any of our services. Services (direct and indirect) apply to everything provided online, through mobile devices and computers of all platforms, by email, telephone, post or through direct contact with our officers. You accept that you have read, understood and agreed to the terms and conditions (as well as our privacy policy) below, if and when you make use of our service in any way, including but not limited to browsing this website, rating or giving Event Center reviews, commenting on a review, or making a reservation.</p>
        <div class="row text-justify">
            <h2>Legal Use</h2>
            <p>Your utilisation of any of our services warrant that you will not make unlawful use of this website or any contents and materials we provide through other means with which we correspond with you or final parties on your behalf.</p>
        </div>
        <div class="row text-justify">
            <h2>Our Service Scope</h2>
            <p>Àríyá provides temporary accommodation of all types, which include event centers, halls etc. The provision of these services are found on the website through which you can book for your chosen service. By placing a booking through us, you enter into a legally binding agreement with the direct service provider (Venue Owners and the likes) with which your reservation is made to. Right after your reservation is placed, Àríyá acts simply as a mediator between you and the service provider.</p>
            <p>We pass along information you have provided towards placing a reservation unto the final party and relay confirmation messages, updates and invoices back to you via SMS and email for and on their behalf. The accuracy of information provided on the website is exclusive to the service providers who are responsible for updating their accounts with Àríyá on their current status. Though we aim to provide information about final parties which are as correct as possible, we will not confirm, neither will we guarantee that they are complete or accurate.</p>
            <p>Venue recommendations on our website are not given by us, we do not verify them and therefore cannot give assurance about them. We will only offer suggestions based on criteria provided by you, but choices made by you are entirely your decision and any disappointments that is met cannot amount to a liability that we would bear.</p>
        </div>
        <div class="row text-justify">
            <h2>Price Guarantee & Currency Exchange Rates</h2>
            <p>We offer three ways to make payment. There is an option to Pay in Cash by contacting the Venue Owner, in which case, Àríyá cannot guarantee that your reservation will be kept for you, or that we will inform you about cancellations before you arrive, and we are not responsible for any disappointments that may be faced by choosing this payment method or an Event Center that accepts only it. With some Event centres, you are only able to make payment for your reservation using this medium.</p>
            <p>We present another option to pay into our locally operated Bank Account. If you are not in Nigeria, an international bank transfer can be done, if you are situated anywhere within Nigeria, payment is accepted using the integrated electronic platform.</p>
            <p>The third payment option we offer is through the use of ATM Cards. You can pay with your ATM card through a third party link we provide on the website. Àríyá does not process any other type of card payments, including credit card payments. Any amount charged to you will be in Nigerian Naira. Tax rates and foreign exchange rates could change in the time between booking and stay.</p>
        </div>
        <div class="row text-justify">
            <h2>Third Parties</h2>
            <p>Backlinks to websites operated by other parties may be found on this website and are provided for reference purposes only. We do not in any way imply an endorsement of the contents and operations on such websites. Àríyá does not participate in their management and is not responsible for your use of these websites.</p>
        </div>
        <div class="row text-justify">
            <h2>Further Correspondence</h2>
            <p>Right after you make a booking through the website, we will send a confirmation of receipt of this request and send subsequent emails and SMSs to keep you updated on the booking progress. You will most likely get confirmation of your booking in your email or you will be contacted over the phone. We also welcome your feedback on venues you use.</p>
        </div>
        <div class="row text-justify">
            <h2>Customer Ratings and Reviews</h2>
            <p>Ratings and reviews of Venues are given by the public. Àríyá has no control over the rating tendencies and we cannot guarantee that the reviews are accurate or true, most of which are solely dependent on the likes and dislikes of the individual.</p>
        </div>
        <div class="row text-justify">
            <h2>Cancellation & no-show policy Policies</h2>
            <p>By booking through Àríyá you accept both the cancellation and no-show terms of the accommodation provider and ours. Àríyá will give full refund of amount paid but not yet transferred to the venue owner. Refunds of money already paid to the final party will attract their cancellation/no-show charges and also have our delivery/execution of operations cost deducted. If you pay directly to the venue owner, Àríyá will not be accountable for or entitled to reimburse these types of payments and also payments made preceding your use of the venues. Any of such refunds that come through us are only so on request by the venue owner and are not in any way our obligation.</p>
            <p>Venue owners can only apply cancellation charges to payments already received by them and are fully responsible for payments made directly by clients to them via electronic means. Àríyá will not be answerable to any incidence of late or no payment by the customer to the venue. To that end, we advice all final parties (having a signed deal with us or not) to ensure they provide alternative means of receiving long distance payments, much preferably in the form of a Nigerian Bank Account.</p>
        </div>
        <div class="row text-justify">
            <h2>Refund policy</h2>
            <p>Please see FAQs</p>
        </div>
        <div class="row text-justify">
            <h2>Delivery and Return Policy</h2>
            <p>Does not apply.</p>
        </div>
        <div class="row text-justify">
            <h2>Further Correspondence</h2>
            <p>Right after you make a booking through the website, we will send a confirmation of receipt of this request and send subsequent emails and SMSs to keep you updated on the booking progress. You will most likely get confirmation of your booking in your email or you will be contacted over the phone. We also welcome your feedback on venues you use.</p>
        </div>
        <div class="row text-justify">
            <h2>Customer Ratings and Reviews</h2>
            <p>Ratings and reviews of Venues are given by the public. Àríyá has no control over the rating tendencies and we cannot guarantee that the reviews are accurate or true, most of which are solely dependent on the likes and dislikes of the individual.</p>
        </div>
        <div class="row text-justify">
            <h2>Disclaimer</h2>
            <p>Àríyá bears no responsibility for any liability that may arise from the booking service, either to the Venue provider, customer or any government agency. All final parties that offer Pay directly to venue owner options are liable for any loss they may incur and have to take their own measures to ensure they receive payments from customers.</p>
        </div>
    </div>
</div>
<!--<div class="navbar navbar-default navbar-custom-bottom navbar-static-bottom text-center block-padding-20"><a ui-sref="home" href="">Ariya &copy; 2015</a></div>-->